mixin powerBtn(name, url)
	.btn_group
		a.btn.btn-primary(href='https://etrade.pru.com.tw/EC_WebSite/Models/Login.aspx', target='_blank')
			.ico.ico_shop
			| 立即申購
		a.btn.btn-secondary(href= url, target='_blank')
			span.underline= name
			| 武林秘笈

mixin Menu(menu, active)
	header
		.menuContainer
			.logo
				a(href='http://www.pru.com.tw/')
					img(src= `${url}assets/imgs/logo.png`)
			ul.menu
				each item, key in menu
					if (key === active)
						- var isActive = true
					else
						- var isActive = false
					+menuItem(item, isActive)
			a.toggle_nav(herf="#")
				span.top
				span.middle
				span.bottom

mixin menuItem(item, isActive)
	li(class= isActive ? 'act': null)
		a(href= item.url, target= item.isOut ? '_blank': '_self')
			if item.subName
				= item.name
				i 力
				//- span= item.subName
			else
				if item.isSub
					= item.name
				else
					span= item.name
		if item.children
			ul
				each childrItem in item.children
					+menuItem(childrItem)

mixin titleBlock(className)
	h1(class= className ? `title ${className}` : 'title')
		.imgBlock
			i.text
			i.kungfu
		if block
			block
		
		i.triangle

mixin hasLabel(label, className, span)
	div(class= className ? `hasLabel ${className}` : 'hasLabel')
		label
			if span
				span.big= span
			each item in label
				span= item
		block

mixin flexTable(tableCols)
	.flexTable
		.tableCol
			div
				block
		each item in tableCols.cols
			.tableCol
				div
					each col in item
						span= col