doctype html
include ../_variable.pug
block urlVariable
  - var url = './'
- var assets = url + 'assets/'
- var imgUrl = env === 'dev' ? (url + 'assets/imgs') : ('https://asset.kvbgc.com/assets/img/gcfx_email_template/20201027')

- var font = '"Open Sans", "Microsoft JhengHei", "微軟正黑體", sans-serif'

mixin Bulletproof(version = 'mso')
  != `<!--[if ${version}]>`
  block
  != "\n"
  != "<![endif]-->"
html(lang='zh-Hant-TW' xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(charset='utf-8')
    //  utf-8 works for most cases 
    meta(name='viewport' content='width=device-width')
    //  Forcing initial-scale shouldn't be necessary 
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    //  Use the latest (edge) version of IE rendering engine 
    meta(name='x-apple-disable-message-reformatting')
    //  Disable auto-scale in iOS 10 Mail entirely 
    meta(name='format-detection' content='telephone=no,address=no,email=no,date=no,url=no')
    //  Tell iOS not to automatically link certain text strings. 
    meta(name='color-scheme' content='light dark')
    meta(name='supported-color-schemes' content='light dark')
    title
      = `!! Hidden Preheader Text !!`
    //  The title tag shows in email notifications, like Android 4.4. 
    //  Web Font / @font-face : BEGIN 
    //  NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. 
    //  Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. 
    +Bulletproof
      != `<style>`
      != `* { font-family: ${font} !important; }`
      != `</style>`

    //  All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ 
    // [if !mso]><!
    //  insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> 
    // <![endif]
    //  Web Font / @font-face : END 
    //  CSS Reset : BEGIN 
    style
      
      include ../../../build/src_mail/mail_base.css
      
    //  What it does: Makes background images in 72ppi Outlook render at correct size. 
    +Bulletproof('gte mso 9')
      .
        <xml>
          <o:OfficeDocumentSettings>
              <o:AllowPNG/>
              <o:PixelsPerInch>96</o:PixelsPerInch>
          </o:OfficeDocumentSettings>
        </xml>
    //  CSS Reset : END 

    //  Progressive Enhancements : BEGIN 
    style
      include ../../../build/src_mail/mail_enhance.css
    //  Progressive Enhancements : END 

  body.bodyBG(style='background-color: #F4F9FF;')
    center(style='max-width: 100%; margin: auto')
      +Bulletproof('mso | IE')
        !=`<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F4F9FF">`
        !=`<tr>`
        !=`<td>`

      //-  Visually Hidden Preheader Text : BEGIN 
      div(style=`display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: ${font};`)
        = `!! Hidden Preheader Text !!`

      //-  Create white space after the desired preview text so email clients don’t pull other distracting text into the inbox preview. Extend as necessary. 
      //-  Preview Text Spacing Hack : BEGIN 
      div(style=`display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: ${font};`).

      //-
      //- Set the email width. Defined in two places:
      //- 1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
      //- 2. MSO tags for Desktop Windows Outlook enforce a 680px width.
      //- Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
                

          
      //  Full Bleed Background Section : BEGIN 
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td
              .email-container(style='max-width: 680px; margin: 0 auto; padding: 0 15px; box-sizing: border-box;')
                .inside-container(style='max-width: 650px; margin: 0 auto; box-sizing: border-box')
                  +Bulletproof('mso')
                    !=`<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="650">`
                    !=`<tr>`
                    !=`<td>`
                  
                  //  Email Body : BEGIN 
                  table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
                    tbody
                      //  Email Header : BEGIN 
                      tr
                        td(style='padding: 32px 0 22px 0' width='100%')
                          table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='margin: auto;')
                            tbody
                              tr
                                td
                                  //  start HEADER_LOGO 
                                  a(href= `https://gcfxweb.kvbgc.com/${locale}` target='_blank')
                                    img.light-img(
                                      src= imgUrl + '/logo_gcfx_color.png'
                                      width='250'
                                      alt='GCFX LOGO'
                                      style='color: #33373E; font-family:\'proxima_nova\', Helvetica, Arial, sans-serif; font-weight:bold; font-size:36px; line-height:40px; text-decoration: none; margin: 0 auto; padding: 0;' border='0'
                                    )
                                    //
                                      The following Dark Mode logo image is hidden 
                                          with MSO conditional code and inline CSS, but will be         
                                          revealed once Dark Mode is triggered 
                                    // [if !mso]><! 
                                    .dark-img(
                                      style='display:none; overflow:hidden; float:left; width:0px; max-height:0px; max-width:0px; line-height:0px; visibility:hidden;'
                                    )
                                      img(
                                        src= imgUrl + '/logo_gcfx_w.png'
                                        width='250'
                                        alt='Litmus'
                                        style='color: #ffffff; font-family:\'proxima_nova\', Helvetica, Arial, sans-serif; font-weight:bold; font-size:36px; line-height:40px; text-decoration: none; margin: 0 auto; padding: 0;' border='0'
                                      )
                                    // <![endif]
                                  //  end HEADER_LOGO 
                                  //- img.light-img(
                                  //-   src= imgUrl + '/logo_gcfx_color.png'
                                  //-   width='220'
                                  //-   alt='GCFX LOGO'
                                  //-   border='0'
                                  //-   style=`height: auto; font-family: ${font}; font-size: 15px; line-height: 15px; color: #555555;`
                                  //- )
                                  //- img.dark-img(
                                  //-   src= imgUrl + '/logo_gcfx_w.png'
                                  //-   width='220'
                                  //-   alt='GCFX LOGO'
                                  //-   border='0'
                                  //-   style=`display: none; opacity: 0.7; height: auto; font-family: ${font}; font-size: 15px; line-height: 15px; color: #555555;`
                                  //- )

                      block content
                      block example
                        // include ./_mail_examples.pug
                  
                  //  Email Footer : BEGIN 
                  table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='max-width: 680px;')
                    tbody
                      tr
                        td(width="auto")
                        td(style="padding-top: 40px" width="272")
                          table
                            tbody
                              tr
                                td(style="padding: 4px 19px; border-right: 1px solid #656565;")
                                  img(src= `${imgUrl}/logo_kvb.png` width='111' style="display: block")
                                td(style="padding: 3px 19px")
                                  img(src= `${imgUrl}/logo_gcfx.png` width='84' style="display: block")
                        td(width="auto")
                      tr
                        td(
                          style=`padding: 20px; font-family: ${font}; font-size: 10px; line-height: 15px; text-align: center; color: #656565;`
                          colspan="3"
                        )
                          | Copyright © 2020 KVB Global Capital Limited. All rights reserved.
                  
                  +Bulletproof('mso')
                    !=`</td>`
                    !=`</tr>`
                    !=`</table>`              
                
      //  Full Bleed Background Section : END 
      +Bulletproof('mso | IE')
        !=`</td>`
        !=`</tr>`
        !=`</table>`
      


    
