extends ./layouts/master.pug
block urlVariable
	- var url = './'

block content
	-
		var indexLists = [
			{ name: '趨勢', text: [ '保德信', '全球醫療生化基金' ],        url: url + 'power_04.html' },
			{ name: '績優', text: [ '保德信', '金滿意基金' ],              url: url + 'power_05.html' },
			{ name: '靈活', text: [ '保德信', '策略成長ETF', '組合基金' ], url: url + 'power_03.html' },
			{ name: '息收', text: [ '保德信', '印度機會債券基金' ], note: '(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)', url: url + 'power_01.html' },
			{ name: '成長', text: [ '保德信', '中國品牌基金' ],            url: url + 'power_02.html' },
		]
	.indexContent
		.container
			.bursh_01
			.bursh_02
			div#index_container
				.banner
					img.title(src= url + 'assets/imgs/img_title_b.png')
					img.subTitle(src= url + 'assets/imgs/img_subtitle.png')
				ul.indexList
					each item, index in indexLists
						li
							a(href= item.url)
								img.text(src= `${url}assets/imgs/index_text_0${index+1}.png`)
								img.power(src= `${url}assets/imgs/power_word.png`)
								.kungfuBlock
									h5
										each text in item.text
											div= text
										if item.note
											div.note_i= item.note
									img.kungfu(src= `${url}assets/imgs/index_kungfu_0${index+1}.png`)
								
block script
	script.
		var id = 0;
		$( document ).ready(function() {
			
			scaleContainer();

			$('.indexContent .banner .title').addClass('animated fadeIn slower');
			$('.indexContent .banner .subTitle').addClass('animated fadeIn slower delay-1s');
			$('.indexList > li .kungfuBlock h5').addClass('hide');
			
			var animateGap = setInterval(setAnimate, 400);
			
			setTimeout(function (){
				$('.indexList > li .kungfuBlock .kungfu').addClass('fadeIn animated slower');
				$('.indexList > li .kungfuBlock h5').removeClass('hide');
				$('.indexList > li .kungfuBlock h5').addClass('flipInX animated delay-1s');
				$('.indexContent .bursh_01').addClass('animated fadeIn slower');
				$('.indexContent .bursh_02').addClass('animated fadeIn slower');
			}, 2500);

		});

		$(window).resize(function(){
				scaleContainer();
		})


		function setAnimate () {
			id++
			var effect = 'bounceIn'
			var className = 'animated ' + effect + 'Down fast';
			if ( id % 2 ) {
				className = 'animated ' + effect + 'Up fast';
			}
			$('.indexList > li:nth-child(' + id + ')').addClass(className);
			
		}


		function scaleContainer () {
			
			var inContainer = $('.indexContent .container > #index_container').width();
			var outContainer = $('.indexContent .container').width();
			var scale = outContainer / inContainer;
			
			if ( outContainer < 700 ) {
				scale = scale / .92;
				$('.indexContent .container > div').css({
					transform: "scale(" + scale + "," + scale + ")",
					transformOrigin: 'top center'
				});
				var perspectiveHeight = $('.indexContent .container > #index_container').height() * scale;
				
				$('.indexContent .container').css({
					height: perspectiveHeight + 50 +"px"
				});
			}else {
				$('.indexContent .container > #index_container').css({
					transform: "",
					transformOrigin: ''
				});
				$('.indexContent .container').css({
					height: ''
				});
			}
			
		}