extends ./master.pug

block urlVariable
	- var url = './'
	- var resultIndex = 1
	

block facebookCode
	// Load Facebook SDK for JavaScript 
	//- #fb-root
	//- script.
	//- 	window.fbAsyncInit = function() {
	//- 		FB.init({
	//- 			//- appId      : '1074985406028566', // 路克測試
	//- 			appId      : '2147952748632250', // 松柏測試
	//- 			xfbml      : true,
	//- 			version    : 'v3.0'
	//- 		});
	//- 	};

		
	//- 	(function(d, s, id) {
	//- 		var js, fjs = d.getElementsByTagName(s)[0];
	//- 		if (d.getElementById(id)) return;
	//- 		js = d.createElement(s); js.id = id;
	//- 		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
	//- 		fjs.parentNode.insertBefore(js, fjs);
	//- 	}(document, 'script', 'facebook-jssdk'));

block content
	- var index = resultIndex - 1
	.bgContent
		#result
			.bursh_01
			- 
				var resultData = [
					{ text: [ '段鈺', '息收力', ['保德印度機會債券基金', '(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)'], '北冥神功'] },
					{ text: [ '黃鎔', '趨勢力', '保德信全球醫療生化基金', '翻雲覆雨'] },
					{ text: [ '韋筱寳', '靈活力', '保德信策略成長ETF組合基金', '足智多謀'] },
					{ text: [ '郭勁', '績優力', '保德信金滿意基金', '穩扎穩打']},
					{ text: [ '曉龍女', '成長力', '保德信中國品牌基金', '深不可測'] },
				]
			
			.gameContainer
				div(id= `result_${resultIndex}`)
					.resultText
						| 根據測驗結果，原來您是
						b= `${resultData[index].text[3]}${resultData[index].text[0]}`
						| 的接班人！
						br
						| 想練就絕世武功，需身懷
						b= resultData[index].text[1]
						| 絕招，
						br
						| 這樣個性的你最適合的產品為
						br.mobile
						if resultIndex === 1
							span= resultData[index].text[2][0]
								i= resultData[index].text[2][1]
						else
							span= resultData[index].text[2]
						br.mobile
						br
						| 現在就開始笑傲投資江湖吧！
					.resultBlock
						img.lg(src= url + `assets/imgs/game/result_0${resultIndex}.png`)
						img.sm(src= url + `assets/imgs/game/result_0${resultIndex}_sm.png`)
						
						a#fb-share-button(href="#")
				
					.gameBtnGroup.result
						a.btn.btn-secondary.round(href='https://etrade.pru.com.tw/EC_WebSite/Models/Login.aspx', target='_blank')
							| 手刀開戶
						a.btn.btn-primary.round(href='https://etrade.pru.com.tw/EC_WebSite/Models/OpenAccount/OpenAccount0.aspx', target='_blank')
							| 立馬申購

block script
	block scriptVariable
		script.
			var ENV_CONFIG = {
				//- URL: 'http://www.lucius-studio.com/pgim_test/', // 路克測試
				URL: 'https://www.pru.com.tw/act/2019Flagship/', // 保德信正式
				//- URL: 'http://demoms.sobo.com.tw/Pru/190117_event/ui_dev/', // 松柏測試
				
				IMG: 'assets/imgs/fb_share/fb_pgim_share_0',
				SHARE: '/game_results/result_'
			}
			var message = [
				['段鈺', '息收力'],
				['黃鎔', '趨勢力'],
				['韋筱寳', '靈活力'],
				['郭勁', '績優力'],
				['曉龍女', '成長力'],
			]
			var FB_CONFIG = {
				method: 'feed',
				link: window.location.href,
				picture: ENV_CONFIG.URL + ENV_CONFIG.IMG + '1.jpg',
				name: "保德信五力全開",
				description: "保德信五力旗艦基金讓您投資攻守兼備，開啟財富真實力"
			}

	script.
		var arrayIndex = resultIndex - 1;
		FB_CONFIG.link = ENV_CONFIG.URL + ENV_CONFIG.SHARE + resultIndex + '.html'
		FB_CONFIG.name = "保德信五力全開"
		FB_CONFIG.description = "我是江湖傳言百年一見的練武奇才，【" + message[arrayIndex][0] + "】的接班人「最適合我的絕招是【" + message[arrayIndex][1] + "】，你也來測測看最適合你的吧！"
		FB_CONFIG.picture = ENV_CONFIG.URL + ENV_CONFIG.IMG + resultIndex + '.jpg'
		if (getUrlParameter('from')!=='test') {
			window.location.href = '../game.html';
		}
		$('#fb-share-button').click(function() {
			//- FB.ui(
			//- 	FB_CONFIG,
			//- 	function(response){
			//- 			console.log(response);
			//- 	}
			//- );
			var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u="+FB_CONFIG.link, "pop", "width=600, height=400, scrollbars=no");
			return false;
		});

		function getUrlParameter(sParam) {
			var sPageURL = window.location.search.substring(1),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;
			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
				}
			}
		};

block facebookMeta
	- 
		var fbMessage = [
			['段鈺', '息收力'],
			['黃鎔', '趨勢力'],
			['韋筱寳', '靈活力'],
			['郭勁', '績優力'],
			['曉龍女', '成長力'],
		]
	- var index = resultIndex - 1
	meta(property='og:url', content= `${pageURL}game_results/result_${resultIndex}.html`)
	meta(property='og:type', content='website')
	meta(property='og:title', content='保德信五力全開')
	meta(property='og:description', content=`我是江湖傳言百年一見的練武奇才，【${fbMessage[index][0]}】的接班人「最適合我的絕招是【${fbMessage[index][1]}】，你也來測測看最適合你的吧！`)
	meta(property='og:image', content= `${pageURL}assets/imgs/fb_share/fb_pgim_share_0${resultIndex}.jpg`)
	//- meta(property='fb:app_id', content= fbID)